<!-- INCLUDEJS @crizzo_whoposted/script.js -->
<script type="text/javascript">
	// <![CDATA[
	// var whoposted_url = '{AJAX_WHOPOSTED_PATH}';
	// ]]>
</script>
<!-- <div id="whoposted_output" class="whoposted_output">
	<a href="#" class="alert_close"></a>
	<h3 class="whoposted_output_title">&nbsp;</h3><p class="whoposted_output_text"></p>
</div> -->
<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
	<a href="#" class="alert_close"></a>
	<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
</div>
